/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;
  margin: 50;
}
* {
  box-sizing: border-box;
  font-family: "Arial", "Hiragino Kaku Gothic ProN", sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  padding: 20px;
  text-align: center;
  min-height: 100vh;
  background-attachment: fixed;
  background: #fafafa;
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  line-height: 1.8;
}
header {
  background-color: #ffdede;
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header a {
  color: white; 
  text-decoration: none; 
}
header h1 {
  color: white;
  margin-left: 20px;
   font-size: 52px;
  letter-spacing: 3px;
  font-family: 'Train One', cursive;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
}
footer {
  color: white;
  height: 30px;
  background-color: #000;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
}
a, button {
  background: linear-gradient(45deg, #ff66cc, #b266ff);
  color: white;
  padding: 8px 18px;
  border-radius: 30px;
  text-decoration: none;
  border: none;
  font-weight: bold;
  margin: 5px 0;
  transition: 0.3s;
}
a:hover, button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 102, 204, 0.6);
}
.fa-heart {
  color: #ff85c1;
  font-size: 20px;
  transition: 0.3s;
}

.fa-heart:hover {
  transform: scale(1.3);
  color: #ff2e93;
  text-shadow: 0 0 10px rgba(255, 120, 200, 0.8);
}
img {
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(255, 102, 204, 0.3);
}
